@font-face {
    font-family: "Circular";
    src: url("http://jkbtxt.com/assets/fonts/CircularStd-Book.otf") format("opentype");
}
@font-face {
    font-family: "Circular Bold";
    src: url("http://jkbtxt.com/assets/fonts/CircularStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Circular Medium";
    src: url("http://jkbtxt.com/assets/fonts/CircularStd-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Dutch Italic";
    src: url("http://jkbtxt.com/assets/fonts/dutch-801-italic-bt.ttf") format("truetype");
}
@font-face {
    font-family: "Dutch";
    src: url("http://jkbtxt.com/assets/fonts/dutch-801-roman-bt.ttf") format("truetype");
}
@font-face {
    font-family: "Dutch Italic Headline";
    src: url("http://jkbtxt.com/assets/fonts/dutch-801-rm-bt-italic.ttf") format("truetype");
}